*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:#171D1C;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
    cursor: pointer;
}
.ele:hover{
    border:1px solid white;
    font-size: 20px;
}
body{
    background-image:linear-gradient(#0C356A,#364aff,#05314de9,#038cf4);
    
}
h2,h1{
    text-shadow:
    1px 1px 1px red,
    2px 2px 1px red;
}
.rightbar {
    margin-top: 170px;
    margin-left: 40px;
    padding:10px;
    color: white;
    font-size: larger;
}
#para,#p2,#p3,#p4{
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: blink 2s steps(400, end) forwards;
    /* animation: blink 2s steps(400, end) backwards; */
}
#p2{
    animation-delay:1s;
}
#p3{
    animation-delay: 2s;
}
#p4{
    animation-delay: 3s;
}
.rectangle{
    height: 50px;
    width: 50px;
    border: solid;
    border-color:linear-gradient(red,orange,yellow,green,blue,indigo,#70369d);
    margin:0px 0px 0px 1200px;
    border-radius: 50%;
    background-image:linear-gradient(red,orange,yellow,green,blue,indigo,#70369d);
    animation: rotate 5ms linear infinite;
    text-overflow: hidden;
    
    
}

.icon{
    height: 30px;
    width: 450px;
    padding: 4px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-right:80px; */
}
@keyframes blink{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
